.instructions-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.instructions-content {
  margin-left: 3rem;
}

.instructions-title {
  margin-bottom: 0.75rem;
}

.instructions-copy {
  margin-bottom: 1.5rem;
}

.how-it-works-leaf {
  height: 1.5rem;
  margin-right: 1rem;
}

.hands-on-deodorant {
  width: 80%;
  justify-self: right;
}

.title-and-leaf {
  display: flex;
}
