$dark-green: #1d7f75;
$light-green: #00b67a;
$coral: #ff8c70;
$white-text: #fffcfc;
$white-background: #fefaf9;
$white-stars: #f9fcfd;
$black-text: #1c1d1d;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1536px;
