$dark-green: #1d7f75;
$light-green: #00b67a;
$coral: #ff8c70;
$white-text: #fffcfc;
$white-background: #fefaf9;
$white-stars: #f9fcfd;
$black-text: #1c1d1d;

@import "./reset";
@import url("https://fonts.googleapis.com/css2?family=Marko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ysabeau&display=swap");

body {
  font-family: "Ysabeau", sans-serif;
  font-weight: 400;
}

.container {
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: $dark-green;
  color: $white-text;
  font-size: 0.8rem;
  font-weight: 600;
}

nav {
  height: 5rem;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  background-color: $coral;
  color: $white-text;
  font-size: 1.1rem;
  padding-bottom: 1rem;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-nav {
    margin-left: 2rem;
    justify-content: space-between;
    border: black 1px solid;
  }

  .right-nav {
    border: black 1px solid;
    margin-right: 2rem;
  }

  .nav-link {
    margin: 0.5rem;
  }
}

.testimonials {
  background-color: $white-background;
}

.marketing {
  background-color: $white-background;
body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: $dark-green;
  color: $white-text;
  font-size: 0.8rem;
  font-weight: bold;
}

nav {
  height: 5rem;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  background-color: $coral;
  color: $white-text;
  font-size: 1.1rem;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-nav {
    margin-left: 2rem;
    justify-content: space-between;
    border: black 1px solid;
  }

  .right-nav {
    border: black 1px solid;
    margin-right: 2rem;
  }

  .nav-link {
    margin: 0.5rem;
  }
}

.white {
  color: $white-text;
}

.black {
  color: $black-text;
}

.cta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: $coral;
}

.cta-container {
  display: grid;
  justify-content: center;
  align-self: left;
  height: 22rem;
}

.redefined {
  font-size: 3.125rem;
  font-weight: 600;
}

.shopButton {
  background-color: $dark-green;
  border-radius: 0.313rem;
  height: 3.125rem;
  width: 8.125rem;
}

.starContainer {
  position: relative;
}

.stars {
  height: 1.5rem;
}

.trustpilot-logo {
  height: 1rem;
}

.deodorant-img {
  height: 25rem;
  width: 25rem;
  object-fit: fill;
  justify-self: right;
}

.tagline {
  margin-top: 1rem;
}

.tagline-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.effective,
.sustainable,
.convenient,
.clean {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tagline-header,
.instructions-header {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
}

.tagline-container {
  margin-bottom: 1rem;
}

.leaves,
.leaf,
.earth,
.clock {
  height: 4rem;
  margin-bottom: 0.5rem;
}

.center {
  text-align: center;
}

.how-it-works-leaf {
  height: 1rem;
}

.testimonials {
  background-color: $white-background;
}

.marketing {
  background-color: $white-background;
}
