$dark-green: #367d59;
$light-green: #05b57a;
$coral: #ff8c70;
$white-text: #fffcfc;
$white-background: #fefaf9;
$black-text: #1c1d1d;

@import "./reset";

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: $dark-green;
  color: $white-text;
  font-size: 0.8rem;
  font-weight: bold;
}

nav {
  height: 5rem;
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  background-color: $coral;
  color: $white-text;
  font-size: 1.1rem;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-nav {
    margin-left: 2rem;
    justify-content: space-between;
    border: black 1px solid;
  }

  .right-nav {
    border: black 1px solid;
    margin-right: 2rem;
  }

  .nav-link {
    margin: 0.5rem;
  }
}

.white {
  color: $white-text;
}

.black {
  color: $black-text;
}

.cta {
  background-color: $coral;
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.redefined {
  font-size: 50px;
}

.shopButton {
  background-color: $dark-green;
  border-radius: 5px;
  height: 50px;
  width: 130px;
}

.deodorant-img {
  height: 100px;
  width: 100px;
}

.tagline-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.testimonials {
  background-color: $white-background;
}

.marketing {
  background-color: $white-background;
}
