$dark-green: #367d59;
$light-green: #05b57a;
$coral: #ff8c70;
$white-text: #fffcfc;
$white-background: #fefaf9;
$black-text: #1c1d1d;

body {
  background-color: $coral;
  font-family: Futura PT, Trebuchet MS, Arial, system-ui;
}

.white {
  color: $white-text;
}

.black {
  color: $black-text;
}

.cta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.redefined {
  font-size: 50px;
}

.shopButton {
  background-color: $dark-green;
  border-radius: 5px;
  height: 50px;
  width: 130px;
}

.deodorant-img {
  height: 100px;
  width: 100px;
}

.tagline-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
